.company{
    height: 300px;
    display: inline-block;
    
}
.l1{
    background-color: antiquewhite;
    height: 300px;
    
}
.r1{
    background-color: aquamarine;
    height: 300px;
    
}

.footer{
    height: 200px;
    
}





.footer col1{
    ;


}
.col2{
color: white;
    
    
}
.col3{
    color: white;

    
    
}
